p,
li,
span {
    font-size: 1.3em;
}

.materi-title {
    font-size: 1.5em;
}

h4 {
    font-size: 1.8em;
}

h1 {
    font-size: 2.5em;
}

#iframe_instruksi {
    width: 100%;
    height: 600px;
}

@media (max-width: 768px) {
    p,
    li,
    span {
        font-size: initial;
    }

    .materi-title {
        font-size: initial;
    }

    h4 {
        font-size: initial;
    }

    h1 {
        font-size: initial;
    }

    #iframe_instruksi {
        height: 400px;
    }
    
    #iframe_cli {
        height: 400px;
    }
}